<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools">

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.PACKAGE_USAGE_STATS"
		tools:ignore="ProtectedPermissions" />
	<uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"
		tools:ignore="QueryAllPackagesPermission" />
	<uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

	<uses-permission android:name="rikka.shizuku.permission.V3" />
	<uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL"
		tools:ignore="ProtectedPermissions" />

	<application
		android:name=".PrivacifyApplication"
		android:allowBackup="true"
		android:dataExtractionRules="@xml/data_extraction_rules"
		android:fullBackupContent="@xml/backup_rules"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:roundIcon="@mipmap/ic_launcher_round"
		android:supportsRtl="true"
		android:theme="@style/Theme.Privacify">

		<provider
			android:name="rikka.shizuku.ShizukuProvider"
			android:authorities="${applicationId}.shizuku"
			android:multiprocess="false"
			android:enabled="true"
			android:exported="true"
			android:permission="android.permission.INTERACT_ACROSS_USERS_FULL" />

		<activity
			android:name=".MainActivity"
			android:exported="true"
			android:label="@string/app_name"
			android:theme="@style/Theme.Privacify">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<service
			android:name=".core.widget.LockdownTileService"
			android:exported="true"
			android:icon="@drawable/ic_lockdown"
			android:label="@string/tile_lockdown_label"
			android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
			<intent-filter>
				<action android:name="android.service.quicksettings.action.QS_TILE" />
			</intent-filter>
		</service>

		<receiver
			android:name=".core.widget.LockdownWidgetProvider"
			android:exported="true">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
			</intent-filter>
			<meta-data
				android:name="android.appwidget.provider"
				android:resource="@xml/widget_lockdown_info" />
		</receiver>
	</application>

</manifest>
